<h2>Add a Product</h2>
<a href="/products">Products List</a>

<form action="/form-products" method="post">
    Title: <input type="text" name="title">
    <br>
    Description: <input type="text" name="description">
    <br>
    Code: <input type="text" name="code">
    <br>
    Price: <input type="number" name="price">
    <br>
    Stock: <input type="number" name="stock">
    <br>
    Category: <input type="text" name="category">
    <br>
    Thumbnail: <input type="text" name="thumbnail">
    <br>
    <button type="submit">Enviar</button>
</form>